.container {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 10px;
    height: 320px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.avatar {
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 50px;
}

.avatar img {
    margin-bottom: 10px;
}

.avatar a {
    text-align: center;
    text-decoration: #29A19C underline;
    color: #29A19C;
}

.description {
    width: 300px;
}

span {
    margin-bottom: 10px;
}

input {
    margin-bottom: 30px;
}

.subscribe {
    display: flex;
    text-align: center;
    position: relative;
}

.subscribe__text {
    font-weight: 400;
    font-size: 14px;
    color: #282846;
    position: absolute;
    left: 28px;
    bottom: 4px;
}

.submit__button input {
    background-color: #29A19C;
    border-radius: 8px;
    padding: 10px 25px;
    font-weight: 600;
    font-size: 16px;
    color: #FAFAFA;
    transition: all .5s;
}

input {
    cursor: pointer;
}

.submit__button input:hover {
    background-color: #fafafa;
    color: #29A19C;
    border: 1px solid #29A19C;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #ffffff;
    font-size: 10px;
    margin: 80px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
