.wrapper {
    background: rgba(41, 161, 156, 0.02);
    border: 1px solid rgba(40, 40, 70, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all;
    height: 50px;
}

.content {
    font-weight: 400;
    font-size: 14px;
    color: #282846;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
    display: flex;
    position: relative;
}


.checkbox {
    margin-right: 10px;
}

.taskName {
    width: 100%;
}

.editButton {
    margin-right: 10px;
    margin-bottom: auto;
}

.editButton:hover, .deleteButton:hover {
    cursor: pointer;
}

.deleteButton {
    margin-right: 15px;
    margin-bottom: auto;

}
