body {
    width: 100%;
    background-color: #FFFFFF;
}

.header {
    height: 95px;
    margin-bottom: 110px;
}

.wrapper {
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 10px;
    width: 350px;
    margin: auto;
}

.container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-weight: 600;
    font-size: 18px;
    color: #29A19C;
    margin-bottom: 20px;
}

.footer {
    font-weight: 400;
    font-size: 12px;
    color: #000000;
}

.redirect{
    text-decoration: #29A19C underline;
    color: #29A19C;
}

.redirect:hover{
    cursor: pointer;
}