.wrapper {
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 10px;
    width: 473px;
    margin-bottom: 30px;
}

.title {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #29A19C;
    margin: 0 0 20px 0;
}

.description {
    font-weight: 400;
    font-size: 14px;
    color: #282846;
}

