.wrapper {
    background: #FFFFFF;
    box-shadow: 0 10px 25px rgba(29, 52, 54, 0.08);
    border-radius: 10px;
    width: 473px;
    margin-bottom: 30px;
}

.description {
    font-weight: 400;
    font-size: 14px;
    color: #282846;
}

